appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth2==1.9.0.post1
oauth2client==4.1.0
packaging==16.8
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
requests==2.16.3
rsa==3.4.2
six==1.10.0
SQLAlchemy==1.1.10
urllib3==1.21.1
Werkzeug==0.12.2
WTForms==2.1
