<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>FeatureRequest</title>
	<meta name="description" content="MainPageFeatureRequest">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>

</head>

<body>
	<div class="container">
		<section class="row" id="header">
			<div class="col-md-6">
				<h1>Feature Request - Testing MVVM</h1>
			</div>
		</section>
		<div class="col-md-12">

			<div class="col-md-12">
				<ul class="nav nav-tabs" id="navBar" data-bind="foreach: navs">
					<li data-bind="css: $parent.chosenNavId() == $data ? 'active': '', click: $root.goToNav">
						<a href="#" data-bind="text: $data"></a>
					</li>
				</ul>
				<br>
				<div id='featuresList' class="table-responsive" data-bind="visible: chosenNavId() == 'Features'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: featureCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: featuresArray">
							<tr>
								<td data-bind='text: id'>
								</td>
								<td data-bind='text: title'>
								</td>
								<td data-bind='text: description'>
								</td>
								<td data-bind='text: client_id'>
								</td>
								<td data-bind='text: client_name'>
								</td>
								<td data-bind='text: priority'>
								</td>
								<td data-bind='text: targetDate'>
								</td>
								<td data-bind='text: productArea_id'>
								</td>
								<td data-bind='text: productArea_name'>
								</td>
								<td data-bind='text: submitter_id'>
								</td>
								<td data-bind='text: submitter_name'>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
<!--Clients 				 -->
				<div id='clientsList' class="table-responsive" data-bind="visible: chosenNavId() == 'Clients'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: clientCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: clientsArray">
							<tr>
								<td data-bind='text: id'>
								</td>
								<td data-bind='text: client_name'>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
<!--Users 				 -->
				<div id='usersList' class="table-responsive" data-bind="visible: chosenNavId() == 'Users'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: userCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: usersArray">
							<tr>
								<td data-bind='text: id'>
								</td>
								<td data-bind='text: user_name'>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
<!--Product Areas 				 -->
				<div id='productAreasList' class="table-responsive" data-bind="visible: chosenNavId() == 'Product Areas'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: productAreaCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: productAreasArray">
							<tr>
								<td data-bind='text: id'>
								</td>
								<td data-bind='text: productArea_name'>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src={{ url_for( 'static', filename='js/mainFeatures.js' ) }}></script>
	<script src={{ url_for( 'static', filename='js/formControlls.js' ) }}></script>

</body>

</html>