<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>FeatureRequest</title>
	<meta name="description" content="MainPageFeatureRequest">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>

</head>

<body>
	<div class="container">
		<section class="row" id="header">
			<div class="col-md-6">
				<h1>Feature Request - Testing MVVM</h1>
			</div>
		</section>
		<div class="col-md-12">

			<div class="col-md-12">
				<ul class="nav nav-tabs" id="navBar" data-bind="foreach: navs">
					<li data-bind="css: $parent.chosenNavId() == $data || $parent.chosenNavId() == ('add'+$data)  ? 'active': '', click: $root.goToNav">
						<a href="#" data-bind="text: $data"></a>
					</li>
				</ul>
				<br>
				<div id='featuresList' class="table-responsive" data-bind="visible: chosenNavId() == 'Features'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: featureCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: featuresArray">
							<tr>

								<td data-bind='text: id'>
								</td>
								<td data-bind='text: title, newFeatureTitle'>
								</td>
								<td data-bind='text: description'>
								</td>
								<td data-bind='text: client_id'>
								</td>
								<td data-bind='text: client_name'>
								</td>
								<td data-bind='text: priority'>
								</td>
								<td data-bind='text: targetDate'>
								</td>
								<td data-bind='text: productArea_id'>
								</td>
								<td data-bind='text: productArea_name'>
								</td>
								<td data-bind='text: submitter_id'>
								</td>
								<td data-bind='text: submitter_name'>
								</td>
								<td><button type="submit" class="btn btn-default" data-bind="click: $parent.showEditFeature">Edit</button><button type="submit" class="btn btn-default" data-bind="click: $parent.showDeleteFeature">Delete</button></td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-default" data-bind="click: showAddFeature">Add Feature</button>
				</div>
				<div data-bind="visible: chosenNavId() == 'addFeature' || chosenNavId() == 'editFeature'">
					<form data-bind="submit: featureMod">
						<div class="form-group">
							<h3> <span data-bind="text: activity"></span> Feature
						</h3>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureId" placeholder='System Generated ID' disabled/>
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureTitle" placeholder='Feature Title' />
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureDescription" placeholder="Descripition" />
							</div>
							<div class="form-group">
								<select class="form-control" data-bind="options: clientsArray,
															 optionsText: function(item) {
                       						return item.client_name},
															 optionsValue: function(item) {
                       						return item.client_name},
															 value: newFeatureClient_name,
															 optionsCaption: 'Select Client'">
						</select>
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeaturePriority" placeholder="Priority" />
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureTargetDate" placeholder="Target Date" />
							</div>
							<div class="form-group">
								<select class="form-control" data-bind="options: productAreasArray,
															 optionsText: function(item) {
                       						return item.productArea_name},
															 optionsValue: function(item) {
                       						return item.productArea_name},													
															 value: newFeatureProductArea_name,
															 optionsCaption: 'Select Product Area'">
						</select>
							</div>
							<div class="form-group">
								<select class="form-control" data-bind="options: usersArray,
															 optionsText: function(item) {
                       						return item.user_name},
															 optionsValue: function(item) {
                       						return item.user_name},
															 value: newFeatureSubmitterName,
															 optionsCaption: 'Select Submitter'">
						</select>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</form>
				</div>
				<div data-bind="visible: chosenNavId() == 'deleteFeature'">
					<form data-bind="submit: featureMod">
						<div class="form-group">
							<h3> <span data-bind="text: activity"></span> Feature
						</h3>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureId" placeholder='System Generated ID' disabled/>
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureTitle" placeholder='Feature Title' disabled/>
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureDescription" placeholder="Descripition" disabled/>
							</div>
							<div class="form-group">
								<select class="form-control" data-bind="options: clientsArray,
															 optionsText: function(item) {
                       						return item.client_name},
															 optionsValue: function(item) {
                       						return item.client_name},
															 value: newFeatureClient_name,
															 optionsCaption: 'Select Client'" disabled>
						</select>
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeaturePriority" placeholder="Priority" disabled/>
							</div>
							<div class="form-group">
								<input class="form-control" data-bind="value: newFeatureTargetDate" placeholder="Target Date" disabled/>
							</div>
							<div class="form-group">
								<select class="form-control" data-bind="options: productAreasArray,
															 optionsText: function(item) {
                       						return item.productArea_name},
															 optionsValue: function(item) {
                       						return item.productArea_name},													
															 value: newFeatureProductArea_name,
															 optionsCaption: 'Select Product Area'" disabled>
						</select>
							</div>
							<div class="form-group">
								<select class="form-control" data-bind="options: usersArray,
															 optionsText: function(item) {
                       						return item.user_name},
															 optionsValue: function(item) {
                       						return item.user_name},
															 value: newFeatureSubmitterName,
															 optionsCaption: 'Select Submitter'" disabled>
						</select>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</form>
				</div>
				<!--Clients 				 -->
				<div id='clientsList' class="table-responsive" data-bind="visible: chosenNavId() == 'Clients'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: clientCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: clientsArray">
							<tr>
								<td data-bind='text: id'>
								</td>
								<td data-bind='text: client_name'>
								</td>
								<td><button type="submit" class="btn btn-default" data-bind="click: $parent.showEditClient">Edit</button><button type="submit" class="btn btn-default" data-bind="click: $parent.showDeleteClient">Delete</button></td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-default" data-bind="click: showAddClient">Add Client</button>
				</div>
				<div data-bind="visible: chosenNavId() == 'addClient' || chosenNavId() == 'editClient' || chosenNavId() == 'deleteClient'">
					<form data-bind="submit: clientMod">
						<div class="form-group">
							<h3><span data-bind="text: activity"></span> Client:
						</h3>
							<div class="form-group">
								<input class="form-control" data-bind="value: newClientId" placeholder='System Generated ID' disabled/>
							</div>
							<div class="form-group" id='clientForm' data-bind="visible: activity() != 'Delete'">
								<input class="form-control" data-bind="value: newClientName" placeholder="Client Name" />
							</div>
							<div class="form-group" id='clientForm' data-bind="visible: activity() == 'Delete'">
								<input class="form-control" data-bind="value: newClientName" placeholder="Client Name" disabled/>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</form>
				</div>
				<!--Users 				 -->
				<div id='usersList' class="table-responsive" data-bind="visible: chosenNavId() == 'Users'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: userCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: usersArray">
							<tr>
								<td data-bind='text: id'>
								</td>
								<td data-bind='text: user_name'>
								</td>
								<td><button type="submit" class="btn btn-default" data-bind="click: $parent.showEditUser">Edit</button><button type="submit" class="btn btn-default" data-bind="click: $parent.showDeleteUser">Delete</button></td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-default" data-bind="click: showAddUser">Add User</button>
				</div>
				<div data-bind="visible: chosenNavId() == 'addUser' || chosenNavId() == 'editUser' || chosenNavId() == 'deleteUser'">
					<form data-bind="submit: modUser">
						<div class="form-group">
							<h3> <span data-bind="text: activity"></span> User:
						</h3>
							<div class="form-group">
								<input class="form-control" data-bind="value: newUserId" placeholder='System Generated ID' disabled/>
							</div>
							<div class="form-group" id='userForm' data-bind="visible: activity() != 'Delete'">
								<input class="form-control" data-bind="value: newUserName" placeholder="User Name" />
							</div>
							<div class="form-group" id='userForm' data-bind="visible: activity() == 'Delete'">
								<input class="form-control" data-bind="value: newUserName" placeholder="User Name" disabled/>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>

						</div>
					</form>
				</div>
				<!--Product Areas 				 -->
				<div id='productAreasList' class="table-responsive" data-bind="visible: chosenNavId() == 'Product Areas'">
					<table class="table table-striped">
						<thead>
							<tr data-bind="foreach: productAreaCols">
								<th data-bind="text: $data"></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: productAreasArray">
							<tr>
								<td data-bind='text: id'>
								</td>
								<td data-bind='text: productArea_name'>
								</td>
								<td><button type="submit" class="btn btn-default" data-bind="click: $parent.showEditProductArea">Edit</button><button type="submit" class="btn btn-default" data-bind="click: $parent.showDeleteProductArea">Delete</button></td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-default" data-bind="click: showAddProductArea">Add Product Area</button>
				</div>
				<div data-bind="visible: chosenNavId() == 'addProductArea' 
|| chosenNavId() == 'editProductArea' || chosenNavId() == 'deleteProductArea'">
					<form data-bind="submit: modProductArea">
						<div class="form-group">
							<h3> <span data-bind="text: activity"></span> Product Area:
						</h3>
							<div class="form-group">
								<input class="form-control" data-bind="value: newProductAreaId" placeholder='System Generated ID' disabled/>
							</div>
							<div class="form-group" id='productAreaForm' data-bind="visible: activity() != 'Delete'">
								<input class="form-control" data-bind="value: newProductAreaName" placeholder="Product Area Name" />
							</div>
							<div class="form-group" id='productAreaForm' data-bind="visible: activity() == 'Delete'">
								<input class="form-control" data-bind="value: newProductAreaName" placeholder="Product Area Name" disabled/>
							</div>

							<button type="submit" class="btn btn-default">Submit</button>

						</div>
					</form>
				</div>
			</div>
		</div>
		<script src={{ url_for( 'static', filename='js/mainFeatures.js' ) }}></script>
</body>

</html>